.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Aligns items vertically */
    min-height: 100vh;
    background-color: #101021;
    color: #ffffff;
}

.profile {
    display: flex;
    flex-direction: row;
  
    margin-right: 100px;
}

.profile-info {
    display: flex;
    flex-direction: column;

    
    padding-left: 50px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
}

.tech-stack img {
    border-radius: 6px;
    transition: transform 0.2s ease;
}

.tech-stack img:hover {
    transform: translateY(-2px);
}

.item-value img {
    border-radius: 6px;
    transition: transform 0.2s ease;
}

.item-value img:hover {
    transform: translateY(-2px);
}

.view-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.highlight {
    color: #6366f1;
}

.paragraph-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    
    margin-bottom: 5px;
    font: 1.5rem 'Roboto', sans-serif;
    color: #ffffff;
}

.network-container {
    margin-top: 200px;
    width: 100vw;
    height: 100vh;
}

.title {
    
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    font: 1.5rem 'Roboto', sans-serif;
    color: #ffffff;
}

.typewriter p {
    font-family: monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden; /* Hides text that overflows the width */
    border-right: 2px solid #ffffff; /* Cursor effect */
    width: 0; /* Initially set width to 0 for the effect */
    animation: typing 1.5s steps(40, end), blink 0.75s step-end infinite;
  }
  
  /* Typing effect */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* Blinking cursor effect */
  @keyframes blink {
    from { border-right-color: #ffffff; }
    to { border-right-color: transparent; }
  }

.item {
    padding: 12px;


    transition: all 0.2s ease;
 
}

.item-name {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
}

.item-value {
    font-size: 1rem;
    color: #ffffff;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 20px auto;
    display: block;
}

@media (max-width: 768px) {
    .profile-image {
        width: 150px;
        height: 150px;
    }
}