
<main class="main">
    <h1 #typewriter class="typewriter">

        Hello, welcome to my portfolio!
    </h1>
    <div>
        <H1> Andras Bodrogai</H1>
        <app-static-view-container [isSplit]="true" [splitRatio]="80">
            <div header>
                <h2>Personal Info</h2>
            </div>
            <div items>
                <img src="assets/images/portrait.jpeg" alt="Andras Bodrogai" class="profile-image">
            </div>
            <div content>
                <div class="items-list
                ">
                    <div class="item">
                        <div class="item-name">Name:</div>
                        <div class="item-value
                        ">Andras Bodrogai</div>
                    </div>
                    <div class="item">
                        <div class="item-name">Location:</div>
                        <div class="item-value
                        ">Cambridge, UK</div>
                    </div>
                    <div class="item">
                        <div class="item-name">Email:</div>
                        <div class="item-value
                        ">
                            <a href="mailto:andrasbodrogai@outlook.com">
                                mail
                                </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-name">LinkedIn:</div>
                        <div class="item-value
                        ">
                            <a href="https://www.linkedin.com/in/andras-bodrogai/">
                                <p>LinkedIn</p>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-name">GitHub:</div>
                        <div class="item-value
                        ">
                            <a href="https://github.com/Sajtospoga01/">
                                <p>github</p>  
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </app-static-view-container>


        <app-view-container [isSplit]="true" [splitRatio]="30" [items]="projects">
            <div header>
              <h2>Projects</h2>
            </div>

          </app-view-container>
    </div>

</main>



<router-outlet />