.network-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Background is transparent */
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  svg {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  .nodes circle {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .links line {
    stroke: #444444;
    stroke-width: 1px;
  }
  