<div class="container" [class.split-mode]="isSplit">
  <div class="left-panel" [style.width.%]="isSplit ? splitRatio : 100">
    <ng-content select="[header]"></ng-content>
    <div class="items-list" *ngIf="items.length">
      <div *ngFor="let item of items" 
           (click)="onSelect(item)"
           [class.selected]="selectedItem?.name === item.name"
           class="item">
        {{item.name}}
      </div>
    </div>
    <ng-content select="[left]"></ng-content>
  </div>

  <div class="right-panel" *ngIf="isSplit" [style.width.%]="100 - splitRatio">
    <div *ngIf="selectedItem">
            <pre class="sql-preview">
        SELECT *
        FROM project
        WHERE project.id = {{selectedItem.id}};</pre>
      
        <div class="selected-content" *ngIf="showContent" [@contentAnimation]>
            <div class="description-section">
              <h3>Description</h3>
              <p>{{selectedItem.description}}</p>
            </div>
            
            <div class="table-section">
                <h3>Project Details</h3>
                <table class="project-table">
                    <tr>
                        <td>Name:</td>
                        <td>{{selectedItem.name}}</td>
                    </tr>
                    <tr class="section-header">
                        <td colspan="2">Domain</td>
                    </tr>
                    <tr>
                        <td>Areas:</td>
                        <td>{{mapArrayToEnumNames(selectedItem.domainVector, ProjectDomain).join(', ')}}</td>
                    </tr>
                    <tr class="section-header">
                        <td colspan="2">Technical Stack</td>
                    </tr>
                    <tr>
                        <td>Tools:</td>
                        <td>{{mapArrayToEnumNames(selectedItem.toolsVector, Tools).join(', ')}}</td>
                    </tr>
                    <tr>
                        <td>Techniques:</td>
                        <td>{{mapArrayToEnumNames(selectedItem.techniquesVector, Techniques).join(', ')}}</td>
                    </tr>
                    <tr>
                        <td>Difficulty:</td>
                        <td>{{selectedItem.difficulty}}/10</td>
                    </tr>
                </table>
            </div>
          </div>
    <div class="loading" *ngIf="!showContent && selectedItem">
        <div class="skeleton skeleton-line"></div>
        <div class="skeleton skeleton-line"></div>
        <div class="skeleton skeleton-line"></div>
    </div>
    </div>
    <div *ngIf="!selectedItem">
        <pre class="sql-preview">
        -- Select project to query
        </pre>
      <div class="no-content">
        No project selected
      </div>
    <ng-content select="[right]"></ng-content>
  </div>
</div>